*.o
*.so

Makefile

/autom4te.cache
/config.h
/config.log
/config.status
/configure
/plugins/defenses/DefensesObjCmds.h
/plugins/defenses/DefensesStrCmds.h
/plugins/funcs/FuncsObjCmds.h
/plugins/funcs/FuncsStrCmds.h
/plugins/spells/SpellsObjCmds.h
/plugins/spells/SpellsStrCmds.h
/plugins/structs/StructsObjCmds.h
/plugins/structs/StructsStrCmds.h
/plugins/system/SystemObjCmds.h
/plugins/system/SystemStrCmds.h
/plugins/tweaks/TweaksObjCmds.h
/plugins/tweaks/TweaksStrCmds.h
/plugins/weapons/WeaponsObjCmds.h
/plugins/weapons/WeaponsStrCmds.h
